<!-- Header Component -->
<header>
    <nav>
        <div class="logo">
            <img src="../src/images/logos/PNG - logo transparent.png" alt="Vertex Solution Logo" class="header-logo-img">
            <span>Vertex</span>Solution
        </div>
        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="index.html#about" class="nav-link">About</a></li>
            <li class="services-dropdown">
                <a href="index.html#enhanced-services" class="nav-link">Services</a>
                <div class="dropdown-content">
                    <a href="page/web-development.html">Web Development</a>
                    <a href="page/mobile-app-development.html">Mobile App Development</a>
                    <a href="page/cloud-solutions.html">Cloud Solutions</a>
                    <a href="page/ai-solutions.html">AI Solutions</a>
                </div>
            </li>
            <li><a href="index.html#projects" class="nav-link">Projects</a></li>      
            <li><a href="index.html#contact" class="nav-link">Contact</a></li>
        </ul>
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
</header>
